<div class="main">
    <div class="mpSearch">
        <h1 class="mpSearch_title">How did my MP vote?</h1>
        
        <form class="mpSearch_form">
            <label for="mpSearch_form_input">Enter the name of an MP or constituency</label>
            <input type="text" id="mpSearch_form_input" class="mpSearch_form_input">
        </form>

        <div class="mpSearch_result">
            <div class="mpSearch_result_vote"></div>
            <div class="mpSearch_result_text"></div>
        </div>
    </div>
</div>
