<div class="main">
    <div class="ns_mpSearchHolder">
        <div class="mp-search-input-box">
            <div class="mp-search">
                <div class="mp-search--inputs">
                    <div class="mp-search--autocomplete">
                        <input type="text" id="mp-search--text-input" class="mp-search--text-input" />
                    </div>

                    <button class="mp-search--submit disabled">Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>
