$color--black: #000;
$color--brand-red: #cc0101;
$color--brand-red--light: #bb4545;
$color--brand-red--dark: #a91717;
$color--brand-teal: #007f7f;
$color--brand-teal__dark1: #006767;
$color--brand-green: #4a9442;
$color--brand-green__light: #6bbd45;
$color--brand-blue: #10619f;
$color--brand-black: #404040;
$color--brand-black__headings: #1e1e1e;
$color--brand-white: #fff;
$color--brand-grey__dark: #5a5a5a;
$color--brand-grey__mid: #d0d0d0;
$color--brand-grey__light: #f2f2f2;

$color--error: #c00;
$color--error-light: #f7d9d9;

$base--text-color: $color--brand-black;
$base--link-color: $color--black;
$base--brand-color: $color--brand-red;
$base--border-color: $color--brand-grey__mid;
$base--background-color: $color--brand-white;
$base--background-color__dark: $color--brand-grey__dark;

$maleColor: rgb(137, 194, 194);
$femaleColor: rgb(246, 185, 136);