.autocomplete-suggestions{
    color: #333; background: #FFF; overflow: auto;
    border-bottom: 1px solid #666;
}
.autocomplete-suggestion{
    border: 1px solid #666;
    border-bottom: 0;
    padding: 13px 10px;
    overflow: hidden;
    cursor: pointer;
    font-size: 1em;
    strong {
        text-decoration: underline;
    }
}
.autocomplete-selected{
    background: #C4E0E0;
}
.autocomplete-group{
    background: #EBEBEB; padding: 5px;
}